body{
    background-color: #FAEED1;
}
h1,h2{

    text-align: center;
    color: #607274;
    border: 5px bold #607274;
    background-color: aquamarine;

}


p{
    /*no lo compila el navergador*/
   border: 5px bold black;
    margin: 5px 0 10px 0;
}
.italic{
    font-style: italic;
   }
   .bold{
    font-weight: bold;
   }